@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgba(35, 170, 170, 1);
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --foreground-rgb: 255, 255, 255;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, clean,
    sans-serif;
  color: rgb(var(--foreground-rgb));
  font-size: 14px;
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.form-control,
a {
  font-size: 14px;
}

.searchButton {
  width: 100px;
  height: 40px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #ee2d68;
  color: #fff;
  width: 70px;
}

h1 {
  color: #333;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  background-color: #feb708;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0;
  min-width: 200px;
  display: none;
  position: absolute;
  right: 0;
  margin-top: 40px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.dropdown.show .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  background-color: #feb708;
}

.dropdownButton {
  background-color: #feb708;
  border: none;
}

.dropdown-item {
  color: #fff;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s, color 0.2s;
}

.dropdown-item:hover {
  background-color: #ffcc00;
  color: #fff;
  opacity: 0.8;
}

.dropdown-item:focus,
.dropdown-item:active {
  background-color: #ffcc00;
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
}

.btn-primary {
  background-color: rgba(35, 170, 170, 1);
  border-color: rgba(35, 170, 170, 1);
  border-radius: 2px;
}

.btn-primary:hover {
  background-color: #e6b800;
  border-color: #e6b800;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
/* 
.footer-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-link {
  color: #b3b3b3;
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: block;
}

.footer-link:hover {
  color: #fff;
}

.social-link {
  color: #b3b3b3;
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

.social-link:hover {
  color: #fff;
} */
